{{ partialCached "meta_header.html" . }}

<div class="container">

	<!-- Initialise les divers dictionnaires des axes -->
	{{ $dict_tags := partial "axes-dict" . }}
	{{- $circuits 	:= index $dict_tags "circuits" }}
	{{- $dates 		:= index $dict_tags "dates" }}
	{{- $saisons 	:= index $dict_tags "saisons" }}
	{{- $villes 	:= index $dict_tags "villes" }}
	{{- $casinos 	:= index $dict_tags "casinos" }}

	<!-- AFFICHAGE -->
	<a id="top"></a>

	<!-- Affiche les tags -->
	<div class="tags">
		<h2>Catégories de vidéos</h2>
		{{- partial "button-category" (dict "types" $circuits "style" "success") }}
		{{- partial "button-category" (dict "types" $dates    "style" "info") }}
		{{- partial "button-category" (dict "types" $saisons  "style" "warning") }}
		{{- partial "button-category" (dict "types" $villes   "style" "danger") }}
		{{- partial "button-category" (dict "types" $casinos  "style" "secondary") }}
	</div>

	<!-- Show all zones -->
	{{- partial "video-unit" (dict "context" $ "type" "circuit" "types" $circuits "style" "success") }}
	{{- partial "video-unit" (dict "context" $ "type" "date"    "types" $dates    "style" "info") }}
	{{- partial "video-unit" (dict "context" $ "type" "saison"  "types" $saisons  "style" "warning") }}
	{{- partial "video-unit" (dict "context" $ "type" "ville"   "types" $villes   "style" "danger") }}
	{{- partial "video-unit" (dict "context" $ "type" "casino"  "types" $casinos  "style" "secondary") }}

</div>

{{- partialCached "meta_footer.html" . }}
