<div class="container">

   <!-- Initialise les divers dictionnaires des axes -->
{{ $dict_tags := partial "axes-dict" . }}
{{- $circuits 	:= index $dict_tags "circuits" }}
{{- $dates 		:= index $dict_tags "dates" }}
{{- $saisons 	:= index $dict_tags "saisons" }}
{{- $variantes := index $dict_tags "variantes" }}
{{- $villes 	:= index $dict_tags "villes" }}
{{- $casinos 	:= index $dict_tags "casinos" }}

<!-- AFFICHAGE -->
<a id="top"></a>

{{ partial "alert-download" . }}

<!-- Affiche les tags -->
<div class="tags">
   <h2>Catégories de vidéos</h2>
   {{- partial "button-category" (dict "context" . "types" $circuits  "style" "success"   "root" "circuits") }}
   {{- partial "button-category" (dict "context" . "types" $dates     "style" "info"      "root" "dates")}}
   {{- partial "button-category" (dict "context" . "types" $saisons   "style" "warning"   "root" "saisons") }}
   {{- partial "button-category" (dict "context" . "types" $variantes "style" "primary"   "root" "variantes") }}
   {{- partial "button-category" (dict "context" . "types" $villes    "style" "danger"    "root" "villes") }}
   {{- partial "button-category" (dict "context" . "types" $casinos   "style" "secondary" "root" "casinos") }}
</div>

<!-- Show all zones si pas en page d'accueil -->
{{ if not .IsHome }}
   {{- partial "video-unit" (dict "context" $ "type" "circuit"  "types" $circuits  "style" "success") }}
   {{- partial "video-unit" (dict "context" $ "type" "date"     "types" $dates     "style" "info") }}
   {{- partial "video-unit" (dict "context" $ "type" "saison"   "types" $saisons   "style" "warning") }}
   {{- partial "video-unit" (dict "context" $ "type" "variante" "types" $variantes "style" "primary") }}
   {{- partial "video-unit" (dict "context" $ "type" "ville"    "types" $villes    "style" "danger") }}
   {{- partial "video-unit" (dict "context" $ "type" "casino"   "types" $casinos   "style" "secondary") }}
{{ end }}
</div>
