<!--
	Initialise les divers dictionnaires des axes
	Return dict des divers axes
-->
<!-- Init le dict des divers axes désirés -->
{{- $circuits := dict }}
{{- $dates    := dict }}
{{- $saisons  := dict }}
{{- $variantes  := dict }}
{{- $casinos  := dict }}
{{- $villes   := dict }}
{{- $missing   := dict }}


<!-- Maj des dict "types" par axe [sans totaux] -->
{{- range $.Site.Data.items.items }}
	{{- $circuits = partial "axe-dict-create" (dict "type" .circuit "types" $circuits) }}
	{{- $dates    = partial "axe-dict-create" (dict "type" .date    "types" $dates) }}
	{{- $saisons  = partial "axe-dict-create" (dict "type" .saison  "types" $saisons) }}
	{{- $variantes = partial "axe-dict-create" (dict "type" .variante  "types" $variantes) }}
	{{- $villes   = partial "axe-dict-create" (dict "type" .ville   "types" $villes) }}
	{{- $casinos  = partial "axe-dict-create" (dict "type" .casino  "types" $casinos) }}
{{- end  }}

<!-- +1 au nombre actuel de videos pour ce tag -->
{{- range $.Site.Data.items.items }}
	{{- $circuits = partial "axe-dict-counter" (dict "type" .circuit "types" $circuits) }}
	{{- $dates    = partial "axe-dict-counter" (dict "type" .date    "types" $dates) }}
	{{- $saisons  = partial "axe-dict-counter" (dict "type" .saison  "types" $saisons) }}
	{{- $variantes = partial "axe-dict-counter" (dict "type" .variante  "types" $variantes) }}
	{{- $villes   = partial "axe-dict-counter" (dict "type" .ville   "types" $villes) }}
	{{- $casinos  = partial "axe-dict-counter" (dict "type" .casino  "types" $casinos) }}
{{- end }}

{{- $axes_dict := (dict "circuits" $circuits "dates" $dates "saisons" $saisons "variantes" $variantes "villes" $villes "casinos" $casinos )}}
{{ return $axes_dict }}
