<!--
	Affiche les boutons des catégories
	Paramètre : (dict "types" $circuits "style" "success")
-->
{{- $style := .style }}
{{- $badge := .badge | default true }}
<!-- Lien différent si Home/alltags -->
{{ $root := ""}}
{{ if .context.IsHome }}
	{{ $root = .root }}
{{ end }}
{{- range $k, $i := .types }}
	<a href="{{ $root }}#{{ $k }}" onclick="button()" role="button" class="btn btn-sm btn-{{ $style }}">
		{{ $k }} {{ if $badge }}<span class="badge badge-light">{{ $i }}</span>{{ end }}
	</a>
{{- end }}
