{{- $_fdate := site.Params.dateFormatTime }}
{{- $count_videos := partial "count-videos" . }}

<div class="container">
	<header class="clearfix">
		<!-- En tete de page -->
		{{- if .IsHome }}
			<h1>
				{{ with site.Params.title }}{{ . | safeHTML }}{{ end }}
			</h1>
			<h5>
				<span class="badge badge-secondary">{{ $count_videos }}</span>
				<span>&nbsp;{{- with site.Params.footertext }}{{ . | markdownify }}{{- end }}</span>
			</h5>
			<p><span class="date">maj au {{ dateFormat $_fdate now }}</span></p>
		{{- else }}
			<h1>{{ with .Params.description }}{{ . | safeHTML }}{{ end }}</h1>
		{{- end }}

		<!-- Bootstrap Menus -->
		{{ $currentPage := . }}

		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
			{{- if .IsHome }}
				<a class="navbar-brand nav-link active border" href="/">{{ site.Params.titleMenu }}</a>
			{{- else }}
				<a class="navbar-brand nav-link" href="/">{{ site.Params.titleMenu }}</a>
			{{- end }}
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			  	<div class="navbar-nav">
					{{ range .Site.Menus.main }}
						{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
							<a class="nav-link active border" href="{{ .URL }}">{{ .Pre }}&nbsp;{{ .Name }} <span class="sr-only">(current)</span></a>
						{{ else }}
							<a class="nav-link" href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a>
						{{end}}
					{{ end }}
			   </div>
			</div>

			<!-- Pertie droite du menu -->
			<!-- Lien GitHub pour édition des data -->
			<a class="nav-link zfooter" href="https://github.com/divinerites/videos-cp/edit/master/data/items.toml" target="_blank" rel="noreferrer">
				<i class="fab fa-github"></i> Contribuer
			</a>

		 </nav>

	</header>
</div>
