<div class="container">

   <!-- Initialise les divers dictionnaires des axes POUR MISSING-->
{{ $dict_tags := partial "axes-dict" . }}
{{- $saisons 	:= index $dict_tags "missing" }}

<!-- AFFICHAGE -->
<a id="top"></a>

<!-- Affiche les tags -->
<div class="tags">
   <h2>{{ .Page.Description }}</h2>
   {{- partial "button-category" (dict "context" . "types" $saisons   "style" "warning"   "root" "saisons") }}
</div>

<!-- Missing Tags -->
{{- partial "missing-tag" (dict "context" $ "type" "saison"  "types" $saisons  "style" "warning") }}
