<!--
	Affiche les vidéos indiviuelles
	Paramètre : (dict context $ "type" "circuit" "types" $circuits "style" "success")
-->
{{- $type  := .type }}
{{- $types := .types }}
{{- $style := .style }}
{{- $badge := .badge | default true }}

{{- range $k, $i := $types }}
	<!-- Show videos for this specific circuit -->
	<a id="{{ $k }}"></a>
	<div class="main">
		<h2 class="zvideo alert alert-{{ $style }}">
			{{ $type | humanize }} : {{ $k }} {{ if $badge }}<span class="badge badge-pill badge-light badge-{{ $style }}">{{ $i }}</span>{{ end}}
			<a href="#top" role="button" class="btn btn-{{ $style }} btn-sm float-right">&#x2191;Retour aux choix de catégories</a>
		</h2>
		<ul id="og-grid" class="og-grid">
			{{- range where $.context.Site.Data.items.items $type $k}}
			<li>
					{{ $ville  := "" }}
					{{ $casino := "" }}
					{{ $sixmax := "" }}
					{{ $source := ""}}
					{{ $vo := ""}}
					{{ $buyin := ""}}
					{{ $variante := ""}}

					{{ with .ville }}{{ $ville = printf " - %s" . }}{{ end }}
					{{ with .casino }}{{ $casino = printf " - %s" . }}{{ end }}
					{{ with .sixmax }}{{ $sixmax = "<span class='badge badge-secondary'>6max</span>" }}{{ end }}
					{{ with .source }}{{ $source = printf "Source : %s" . }}{{ end }}
					{{ with .vo }}{{ $vo = printf "<span class='badge badge-secondary'>V.O.</span>" }}{{ end }}
					{{ with .buyin }}
						{{ if eq "freeroll" .}}
							{{ $buyin = printf "<span class='badge badge-secondary'>freeroll</span>" }}
						{{ else }}
							{{ $buyin = printf "<span class='badge badge-secondary'>$%s</span>" ( lang.NumFmt 0 (int .) "- , ." ) }}
						{{ end }}
					{{ end }}
					{{ with .variante }}{{ $variante = printf "<span class='badge badge-secondary'>%s</span>" . }}{{ end }}

					{{ $d1 := printf "%s (%s) %s %s" .description .date $casino $ville }}
					{{ $d2 := printf "%s %s %s" $variante $sixmax $buyin }}
					{{ $d3 := printf "%s %s" $vo $source }}

					<!-- Image automatique selon .circuit -->
					<!-- TODO Sortir le test d'existance du fichier de la boucle. Utiliser Scratch + .SetInMap ? -->
					{{- $full := printf "/images/%s.png" ( .circuit | lower )}}

					{{- $fullfile := printf "/static%s" $full }}
					{{- if not (fileExists $fullfile ) }}{{ $full = "/images/5.png" }}{{ end}}
					{{- $path := $full }}

					<!-- Image Full -->
					{{- $title := printf "%s / %s" .saison .episode }}
					{{- $full_url := partial "image_asset_relurl.html" (dict "context" . "path" $path "size" "500x500" "action" "Fit" "title" $title ) }}
					<!-- Afichage des infos de vidéo -->
					<a href="{{.url}}"
						data-largesrc="{{ $full_url }}"
						data-title="{{.saison}} / {{ .episode }}"
						data-description="{{ $d1 }}<br>{{ $d2 }}<br>{{ $d3 }}"
						data-buttontext="{{ .buttontext }}">
						<!-- Image Thumb -->
						{{- $title := printf "%s / %s" .saison .episode }}
						{{- partial "image_asset.html" (dict "context" . "path" $path "size" "250x250" "action" "Fit" "title" $title ) }}
					</a>
					<p>
						<strong>{{ .saison }}</strong>
						<br>
						<em>{{ .episode }}{{ if .vo }}&nbsp;<span class="badge badge-secondary">V.O.</span>{{ end }}</em>
					</p>



			</li>
			{{- end }}
		</ul>
	</div>
	<!-- End Video -->
{{- end }}
